<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bumblebee</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-between">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Balle"><svg class="d-block" width="36" height="36"
                viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false">
                <title>Balle</title>
                <path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path>
                <path fill="currentColor" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path>
            </svg>
        </a>
        <div class="form-inline">
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="/upload"><i class="fas fa-cloud-upload-alt"></i></a>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <main class="col-12 main" role="main">
                <div class="row">
                    <div class="col-7" style="text-align:right">
                        <ul class="rating">
                            <li>
                                <%= student.imdb[0].rated %>
                            </li>
                            <li> IMDB
                                <%= student.imdb[0].imdbRating %>
                            </li>
                        </ul>
                        <h1 class="bd-title" id="content">
                            <%= student.name %>
                        </h1>
                        <ul class="metadata">
                            <li>
                                <%= student.imdb[0].year %>
                            </li>
                            <li>
                                <%= student.imdb[0].runtime %>
                            </li>
                            <li>
                                <%= student.imdb[0].type %>
                            </li>
                        </ul>
                        <div class="actorsmeta">
                            <h5 class="metaataactor">Starring</h5>
                            <p>
                                <%= student.imdb[0].actors %>
                            </p>
                        </div>
                        <div class="actorsmeta">
                            <h5 class="metaataactor">Writer</h5>
                            <p>
                                <%= student.imdb[0].writer %>
                            </p>
                        </div>
                        <div class="actorsmeta centre">
                            <p>
                                Genre:
                                <%= student.imdb[0].genre %>
                            </p>
                        </div>
                        <div>
                            <p class="p-description">
                                <%= student.imdb[0].plot %>
                            </p>

                        </div>
                    </div>
                    <div class="col-5">

                        <a href="/servers/">
                            <div class="video-thumbnail"><img src="<%= student.imdb[0].poster %>" style="width:100%"></div>
                        </a>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>