<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bumblebee</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <ul class="list-group">
          <% for (var i = 0; i < movies.server.length; i++) { %>
          <a href="/video/?url=<%= movies.server[i].link %>" data-episodeurl="<%= movies.server[i].link %>" class="js_episode a-btn-cst-2">
            <li class="list-group-episode btn-cst-2">
              <i class="fas fa-play"></i> &nbsp;
              <%= movies.server[i].serverNumber %>
            </li>
          </a>
          <% } %>
        </ul>
      </div>
      <div class="col-10">
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-between">
          <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Balle"><svg class="d-block" width="36" height="36"
              viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false">
              <title>Balle</title>
              <path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path>
              <path fill="currentColor" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path>
            </svg>
          </a>
          <div class="form-inline">
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="/upload"><i class="fas fa-cloud-upload-alt"></i></a>
            <a class="btn btn-outline-light my-2 my-sm-0" href="/logout"><i class="fas fa-power-off"></i></a>
          </div>
        </header>
        <div class="col-12" id="video_player">
          Loading...
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      $('.js_episode').click(function (e) {
        e.preventDefault();
        var episodeurl = encodeURI($(this).attr('data-episodeurl'));
        var endpoint = `/video?url=${episodeurl}`;
        // Display loading text ...
        axios.get(endpoint).then(function (response) {
          var videoUrl = response.data.link;
          var html = `<video class="col-10" controls><source src="${videoUrl}" type="video/mp4">
                        Your browser does not support HTML5 video.
                        </video>`;
          $('#video_player').html(html);
          // Success ...
        }).catch(function (error) {
          console.log(error);
          // Error ..
        });
      });
    });
  </script>
</body>

</html>