body {
    background: #343a40!important;
    color: #fff!important;
  }

  .main {
    padding: 1% 50px 1% 50px;
  }

  .centre {
    text-align: center
  }

  ul.metadata {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
  }

  ul.metadata li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #a8a8a8;
    font-size: 14px;
  }

  ul.metadata li:after {
    content: "|";
    padding: 0 14px;
  }

  ul.metadata li:last-child:after {
    content: "";
    padding: 0 14px;
  }

  ul.rating {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
  }

  ul.rating li {
    display: inline-block;
    line-height: 1;
    margin: 0 7px 5px 0;
    padding: 7px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid #9d9d9d;
    color: #9d9d9d;
  }

  .btn-cst {
    color: #fff;
    border-color: #363636!important;
    background: #363636!important;
    border-radius: 13px!important;
  }

  .a-btn-cst {
    margin-bottom: 5px;
    box-shadow: 0px 1px #000, 0 1px 7px rgba(0, 0, 0, .4);
    border-radius: 13px;
  }

  .a-btn-cst:hover .btn-cst {
    color: #000!important;
    border-color: #fff!important;
    background: #fff!important;
    border-radius: 13px!important;
  }

  a:hover {
    text-decoration: none!important;
  }

  p.p-description {
    font-size: 14px;
    margin-bottom: 25px;
    font-style: italic;
  }

  .actorsmeta p {
    color: #a8a8a8;
    text-transform: uppercase;
    font-size: 12px;
  }

  .metaataactor {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 8px 0 15px;
    letter-spacing: .05em;
  }

  li.list-group-episode {
    display: block;
  }
  .a-btn-cst-2{
    border-bottom: 1px solid #fff;
  }
  .btn-cst-2{
    color: #fff;
    border-color: #363636!important;
    background: #363636!important;
  }

  .video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 30px;
    width: 60%;
  }
  .video-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  .video-thumbnail:hover:before {
    color: rgb(10, 61, 82);
  }
  .fulli{
    height:100vh;
    overflow-x: scroll;
  }
  li.list-group-episode{
    padding: 5.4%;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
  